<nav aria-label="Secondary">
  <h3>{{ navigation | capitalize }}</h3>
  <ul>
    {% for nav in collections[navigation] %}
    <li {% if page.url==nav.url %}aria-current="page" {% endif %}>
      <a href="{{ nav.url | url }}">{{ nav.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>