<small>&copy; {{ "now" | date: "%Y" }} Built with <a href="https://www.11ty.dev/">Eleventy</a> & <a href="https://liquidjs.com/">LiquidJS</a> by <a href="{{ site.authorUrl }}">Michel Maillard</a> • <a href="{{ site.github }}">GitHub</a></small>
