/**************/
/* colors.css */
/**************/

header {
    background-color: var(--primary-color);
    color: var(--grey100);
}

main-container,
footer {
    background-color: var(--grey200)
}

footer {
    border-top: 1px solid var(--primary-color)
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--grey900);
        color: var(--grey100);
    }

    main-container,
    footer {
        background-color: var(--grey800)
    }
}