/************/
/* flex.css */
/************/

body-container {
    max-width: var(--max-width);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

main-container aside {
    flex-grow: 1;
}

main {
    flex: 3 1 21em;
}
